// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// === COLOR PALETTE ===
$color-bg:         #FEFAE0;    // Background color
$color-primary:    #606C38;    // Main action color
$color-hover:      #283618;    // Hover/pressed state
$color-accent:     #DDA15E;    // Accent color 1
$color-secondary:  #BC6C25;    // Accent color 2
$color-text-dark:  #283618;    // Text (dark)
$color-text-light: #ffffff;    // Text (light/white)
