// Specific CSS for your home-page
body {
  background-color: $color-bg;
  color: $color-text-dark;
}

.button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-hover;
  }
}
