<div class="container">
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="booking-card-infos">
        <h2><%= booking.book_offer.book.name %></h2>
        <h3>Author: <%= booking.book_offer.book %> </h3>
        <h3>Starting Date: </h3>
        <h3>Due Date: </h3>
        <h3>Rented By:</h3>
        <div class="text-top">
          <h2>Location</h2>
        </div>
        <div class="form-check form-switch booking-toggle">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        </div>
      </div>
    </div>
  <% end %>
</div>
