<footer class="bottom-footer">
  <div class="footer-link">
    <%= link_to root_path, class: "footer-nav" do %>
      <i class="fas fa-home nav-icon"></i>
      <p class="nav-label">Home</p>
    <% end %>
  </div>

  <div class="footer-link">
    <%= link_to owner_bookings_path, class: "footer-nav" do %>
      <i class="fas fa-book nav-icon"></i>
      <p class="nav-label">My Books</p>
    <% end %>
  </div>

  <div class="footer-link">
    <%= link_to bookings_path, class: "footer-nav" do %>
      <i class="fas fa-book-reader nav-icon"></i>
      <p class="nav-label">Rented</p>
    <% end %>
  </div>

  <div class="footer-link">
    <%= link_to new_book_offer_path, class: "footer-nav" do %>
      <i class="fas fa-plus-circle nav-icon"></i>
      <p class="nav-label">Add Book</p>
    <% end %>
  </div>
</footer>
