<header class="main-header">
  <%= link_to "#", data: { controller: "scroll-top" }, class: "header-link" do %>
    <div class="logo-container">
      <%= image_tag("BookNestLogoNoName.png", alt: "BookNest Logo", class: "logo") %>
      <span class="brand-name">Book Nest</span>
    </div>
  <% end %>
</header>
