.custom-form {
  background-color: $color-bg;
  padding: 20px;
}

.custom-form input,
.custom-form select,
.custom-form textarea {
  border: 2px solid $color-accent;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.custom-form .btn {
  background-color: $color-primary;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
}

.custom-form label {
  font-weight: bold;
  color: $color-text-dark;
  margin-bottom: 5px;
  display: block;
}

h5 {
  font-size: 0.9rem;
  color: #777;
  font-style: italic;
}
